@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
@import "jquery.timepicker.less";
@import "resource.less";
@import "sticky-footer-navbar.less";

/* Base template css
-------------------------------------------------- */

.form-element {
  height: @form-input-height;
  padding: 2px 10px;
  border-radius: 8px;
  border: 1px solid #9A9A9A;
}

.form-element-group {
  display: inline-flex;
}

.form-element-component {
  float: left;
  display: inline;
}

.form-element-trigger {
  .form-element();
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  background-color: white;
}

.no-margin {
	margin: 0
}

.stretch-height-to-fit {
	.no-margin();
  padding: 0;
	height: 100%;
	overflow: auto;
}

#page-container {
	position: absolute;
	width: 100%;
	top: @header-height;
	bottom: @footer-height;
}

@import "jquery.overrides.less";