@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
@import "jquery.timepicker.less";
@import "resource.less";
@import "sticky-footer-navbar.less";

/* Base template css
-------------------------------------------------- */

.no-margin {
	margin: 0
}

.stretch-height-to-fit {
	.no-margin();
  padding: 0;
	height: 100%;
	overflow: auto;
}

#page-container {
	position: absolute;
	width: 100%;
	top: @header-height;
	bottom: @footer-height;
}
