@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
@import "jquery.timepicker.less";
@import "resource.less";
@import "sticky-footer-navbar.less";

/* Base template css
-------------------------------------------------- */

.no-margin {
	margin: 0
}

.stretch-height-to-fit {
	margin: 0;
  padding: 0;
	height: 100%;
	overflow: auto;
}

.cols-same-height {
  .no-margin();
  display: table;
  width: 100%;
}

.cols-same-height > [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

#body {
  width: 100%;
  min-height: calc(100vh ~"-" @footer-height);
  padding: 60px 0 30px;
}

#page-container {
	position: absolute;
	top: @header-height;
	width: 100%;
}
