<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}RRS{% endblock title %}</title>

    {% block css %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% endblock css %}

  </head>
  <body>
    {% block nav %}{% endblock nav %}
    {% block content %}{% endblock content %}
    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% endblock javascript %}
  </body>
</html>