{% extends "customer/base.html" %}

{% block title %}{% endblock %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block main_content %}

	{% block css %}
	  {{ block.super }}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    {% endblock css %}
    
    <div id="branding" class="row no-margin" >
	  <div class="col-xs-10">
	  	<div id="logo" class="col-xs-12">
	  	</div>
	  	<div id="tagline" class="col-xs-12">
	  	</div>
	  </div>
	  <div id="mobile-store-icons" class="col-xs-2">
	  </div>
	</div>
	<div class="row no-margin">
	  <div id="search-container" class="col-xs-12">
	  	{% crispy search_form %}
	  </div>
	</div>
		

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static "js/jquery.timepicker.min.js" %}"></script>
    <script src="{% static "js/rrs_customer.js" %}"></script>
    <script>
	  
	</script>
{% endblock %}