{% extends "base_generic.html" %}

{% block title %}
    RRS - Staff
{% endblock %}

{% block main_content %}
{% load staticfiles %}

    {% block staff_css %}
      <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
      <link href="{% static "css/rrs_staff.css" %}" rel="stylesheet">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    {% endblock staff_css%}

    {% block template_sidebar %}
        
        <span class= 'row'>
            <div class ='col-md-4 col-sm-3 sidebar'>
                {% block date_picker %}
                <input id="datepicker-input">
                <input id="today" type='button' value='Today'>
                <div id="datepicker"></div>
                {% endblock %}
                {% block side_bar_links %}
                <ul class='nav nav-sidebar'>
                    <li><a href="#">Edit Restaurant</a></li>
                    <li><a href="#">Edit Menus</a></li>
                    <li><a href="#">Manage Staff</a></li>
                    <li><a href="#">Previous Reservations</a></li>
                    <li><a href="#">Make a new reservation</a></li>
                </ul>
                {% endblock %}
            </div>
        </span>
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block staff_scripts %}
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
            $('#datepicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                inline: true,
                altField: '#datepicker-input'
            });

            $('#datepicker-input').change(function(){
                console.log($(this).val());
//                $('#datepicker').datepicker('setDate', $(this).val());
            });

            
            function getToday(){
                var today =new Date();
                var dd = today.getDate();
                var mm = today.getMonth(); //January is 0!
                var yyyy = today.getFullYear();
                if(dd<10){
                    dd='0'+dd
                } 
                if(mm<10){
                    mm='0'+mm
                } 
                return mm+'/'+dd+'/'+yyyy;
            }
            
        </script>
    {% endblock %}
{% endblock %}

