{% extends "staff/base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Edit Restaurant{% endblock %}

{% block content %}

	{% if form.errors %}
		<div class="alert alert-danger alert-dismissible" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  			<strong>Oops!</strong> Please fill up all the fields correctly.
		</div>
	{% elif form.is_valid %}
		<div class="alert alert-success alert-dismissible" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  			<strong>Success!</strong> Restaurant details have been updated.
		</div>
	{% endif %}
	
	<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
		<ul id="form-tabs" class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active">
		    	<a href="#general-content" id="general-tab" role="tab" data-toggle="tab" aria-controls="general-content" aria-expanded="true">General</a>
		    </li>
	        <li role="presentation">
	      	    <a href="#location-content" role="tab" id="location-tab" data-toggle="tab" aria-controls="location-content">Location</a>
	        </li>
	        <li role="presentation">
	      	    <a href="#extras-content" role="tab" id="extras-tab" data-toggle="tab" aria-controls="extras-content">Other Info</a>
	        </li>
	    </ul>
	    <div id="tab-content" class="tab-content">
	      	<div id="general-content" role="tabpanel" class="tab-pane fade in active" aria-labelledby="general-tab">
	        	{% crispy form_general %}
	      	</div>
	      	<div id="location-content" role="tabpanel" class="tab-pane fade" aria-labelledby="location-tab">
	      		{% crispy form_location %}
	      	</div>
	      	<div id="extras-content" role="tabpanel" class="tab-pane fade" aria-labelledby="extras-tab">
	      		{% crispy form_extras %}
	      	</div>
	    </div>
  	</div>
    
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static "js/jquery.are-you-sure.js" %}"></script>
	<script>
		$('#id-restaurant-form').areYouSure();
	</script>
{% endblock %}