{% extends "staff/base.html" %}

{% block content %}

<h1>Dennis the Peasant</h1>
<p>Look, my liege! Shut up! I'm not a witch. The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. Ah, now we see the violence inherent in the system!</p>
<h2>The Knights Who Say Ni demand a sacrifice!</h2>
<p>I am your king. We shall say 'Ni' again to you, if you do not appease us. I am your king.</p>
<ul>
<li>Oh, ow!</li>
<li>I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</li>
<li>Bloody Peasant!</li>
<li>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</li>
<li>Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods.</li>
</ul>
<h3>First shalt thou take out the Holy Pin</h3>
<p>No, no, no! Yes, yes. A bit. But she's got a wart. Well, she turned me into a newt. Ni! Ni! Ni! Ni!</p>
<h4>I'm not dead!</h4>
<p>We want a shrubbery!! A newt? I have to push the pram a lot. The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. She looks like one.</p>
<ol>
<li>The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land.</li>
<li>Burn her!</li>
<li>The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land.</li>
<li>Why do you think that she is a witch?</li>
</ol>
<h5>Bridgekeeper</h5>
<p>You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! I'm not a witch. Shut up! Will you shut up?!</p>
<h6>Makes Ben Hur look like an Epic!</h6>
<p>Who's that then? You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! Well, what do you want?</p>
<p>The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. Shut up! Will you shut up?! Why? We shall say 'Ni' again to you, if you do not appease us. But you are dressed as one&hellip; She looks like one.</p>
<p>Oh, ow! I am your king. Shut up! Will you shut up?! I am your king. Oh, ow!</p>
<p>Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! Burn her anyway! Well, we did do the nose. Did you dress her up like this?</p>
<p>It's only a model. Be quiet! Bloody Peasant! How do you know she is a witch?</p>
<p>I have to push the pram a lot. How do you know she is a witch? Why do you think that she is a witch? And the hat. She's a witch! You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits! Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods.</p>
<p>Ni! Ni! Ni! Ni! You don't vote for kings. Why?</p>
<p>I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time! And the hat. She's a witch! We shall say 'Ni' again to you, if you do not appease us. Why? Well, I got better.</p>
<p>But you are dressed as one&hellip; The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits! Be quiet!</p>
<p>Burn her! Why? Be quiet! The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land.</p>
<p>Camelot! The Knights Who Say Ni demand a sacrifice! I have to push the pram a lot. I am your king. Camelot! I have to push the pram a lot.</p>
<p>Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods. I dunno. Must be a king. Well, Mercia's a temperate zone! I am your king.</p>
<p>The Knights Who Say Ni demand a sacrifice! Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony. What do you mean? And this isn't my nose. This is a false one. The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land.</p>
<p>You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits! Why? We found them.</p>
<p>Found them? In Mercia?! The coconut's tropical! Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony. Camelot!</p>
{% endblock %}