{% extends "base_generic.html" %}

{% block title %}Restaurant Reservation System{% endblock title %}

{% block nav %}
  {{ block.super }}
  <ul class="nav navbar-nav navbar-right">
    <li><a id="mobile-link" href="#">Mobile</a></li>
    {% if user.is_authenticated %}
      <li><a id="reservations-link" href="#">My Reservations</a></li>
      <li id="account-dropdown" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.first_name }}
		  <span class="caret"></span>
		</a>
	    <ul class="dropdown-menu" role="menu">
	      <li><a id="account-settings-link" href="#">Account Settings</a></li>
	      <li class="divider"></li>
	      <li><a id="log-out-link" href="{% url 'accounts:logout' %}">Log Out</a></li>
	    </ul>
	  <li>
    {% else %}
      <li><p class="navbar-btn"><a id="sign-up-link" href="{% url 'accounts:signup' %}" class="btn btn-default">Sign Up</a></p></li>
      <li><a id="log-in-link" href="{% url 'accounts:login' %}">Log In</a></li>
    {% endif %}
  </ul>
{% endblock nav %}

{% block main_content %}

{% endblock main_content %}

{% block footer %}

{% endblock footer %}

{% block modal %}

{% endblock modal %}